$bg:       #282828
$bg-light: #383838
$fg:       #eee
$primary:  #ffb52a

$font:      sans-serif
$font-code: monospace

$line-height: 1.5
$tab-size: 4

$main-width:   50rem
$space-large:  2rem
$space-medium: 1.6rem
$space-small:  1rem
$space-min:    .4rem
$small-thresh: 50rem + 2 * $space-small;
