* {
	margin: 0;
	padding: 0;
	font-family: Noto Sans, Roboto, sans-serif;
	color: #333;
}

html, body, header {
	min-height: 100vh;
	overflow: auto;
	background: #eee;
}

h1, h2 {
	margin-bottom: 16px;
}

header {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}

.account {
	display: inline;
}

.links {
	margin-bottom: 16px;
}

.links * {
	color: #2233bb;
	text-decoration: none;
}

.links > * {
	display: inline;
	font-size: larger;
}

.links > *:not(last-child) {
	margin-right: 16px;
}

.links > a svg {
	margin-right: 4px;
}
