<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<title>William Vigolo da Silva</title>
<link rel=stylesheet href=style.css type=text/css charset=utf-8>
<script src=https://cdn.jsdelivr.net/npm/vue/dist/vue.js></script>
<script src=https://code.iconify.design/1/1.0.3/iconify.min.js></script>
<script src=/site.js></script>
<body><div id=app>
<header v-if=!hide.identity>
	<h1 id=name v-if=!hide.name>{{name}}</h1>
	<h2 id=headline v-if=!hide.headline>{{headline}}</h2>
	<div id=address v-if=!hide.address>
		<span class=iconify data-icon=mdi-home></span>{{address}}
	</div>
	<div id=contact v-if=!hide.contact>
		<contact v-for="(item, key) in contacts" :key=key
			:icon=key
			:link="item.prefix + item.text"
			:text=item.text>
		</contact>
	</div>
	<div id=sites>
		<account v-for="item in accounts" :key=item.icon
			:icon=item.icon
			:link="item.url + username">
		</account>
		<span id=username>{{username}}</span>
	</div>
</header>
<main>
<aside>
<category id=skills title="Skills" icon=star>
	<div id=skillsInnerWrap><div id=skillsInner>
		<skill id=development title="Software development">
			<p>With C++, C, Java, Python, PHP, JavaScript, Haskell</p>
		</skill>
		<skill id=versionControl title="Version control">
			<p>Using Git, with GitHub and GitLab<br/>Using SVN</p>
		</skill>
		<skill id=webFrontend title="Web frontend">
			<p>With HTML(5), CSS<br/>Experience with Vue.js</p>
		</skill>
		<skill id=platforms title="Platforms">
			<p>Windows, GNU/Linux, macOS, iOS</p>
		</skill>
		<skill id=database title="Databases">
			<p>Using SQL, with MySQL and PostgreSQL</p>
		</skill>
	</div></div>
</category>
</aside>
<category id=experience title="Work experience" icon=briefcase>
	<position id=feral
		title="Game Programmer (Student Placement)"
		organisation="Feral Interactive"
		url="https://feralinteractive.com"
		start="2018-06-18"
		end="2019-08-23">
		<p>As a developer at Feral I worked on bringing more games to <b>macOS</b> and <b>iOS</b>, including <a href=https://www.feralinteractive.com/en/games/shogun2tw>Total War: Shogun 2</a>, <a href=https://www.feralinteractive.com/en/mobile-games/tropico>Tropico</a>, and <a href=https://www.feralinteractive.com/en/ios-games/companyofheroes>Company of Heroes</a>.</p>
		<p>By working on several large codebases I've gained the ability to jump into new projects and rapidly understand them; a skill that allows me to quickly start fixing bugs and implement new features.<br/>
		Using <b>C++</b> throughout my placement has earned me an in-depth understanding of it, which I've used to solve problems effectively on top of fixing issues such as cross-platform bugs and undefined behaviour.<br/>
		I've learnt how to use <b>Xcode</b> to develop for Apple platforms, and used <b>LLDB</b> extensively to debug large applications and fix obscure bugs.
		</p>
	</position>
</category>
<category id=education title=Education icon=school>
	<position id=uon
		title="BSc Hons Computer Science with Year in Industry"
		organisation="University of Nottingham"
		url="https://nottingham.ac.uk"
		start="2016-09-26">
		<p>
			<b>Expected graduation:</b> Summer 2020 &nbsp;
			<b>Year averages:</b> 1st: 88%, 2nd: 80.25% <br/>
			<b>Dissertation project:</b> Mining and analysing public government data of busines investments, applying some machine learning techniques to find relationships and perform predictions.
		</p>
		<div v-if=!hide.uonExams>
		<p>Some exam results I'm proud of:</p>
		<ul style="list-style: none;">
			<li><b>Programming Paradigms • 99%</b> As an introduction to the object-oriented and functional programming paradigms, we used Java to make a simple card-matching game, and Haskell to make simple but expressive programs</li>
			<li><b>Programming & Algorithms • 94%</b> We learnt the usage of pointers and manual memory management through learning C, as well as a variety of data structures and algorithms</li>
		</ul>
		</div>
	</position>
</category>
<category id=projects title=Projects icon=code-braces>
	<project id=microlator
		title="microlator"
		tech="C++ (17), CMake"
		:url=`https://github.com/${username}/microlator`>
		<p>A C++ emulator for the 6502 microprocessor, work in progress</p>
	</project>
	<project id=fossfund
		title="fossfund"
		tech="Python (aiohttp), PostgreSQL, Nginx, HTML5, CSS"
		:url=`https://github.com/${username}/fossfund`>
		<p>A website providing a catalog of Free and Open Source Software projects that accept donations.<br/>
		Users would be able to contribute projects and their donation links, receive regular emails reminding them to donate, and recommend projects they could support.</p>
	</project>
	<project id=organisations
		title="Organisations"
		tech="Lua, MySQL"
		:url=`https://github.com/${username}/organisations`>
		<p>An addon for the game Garry's Mod. It allows players to create, join, and manage groups within a game server. Players can set a bulletin, manage their members and the group's bank account.</p>
	</project>
	<project id=businessSite
		title="A business site"
		tech="PHP, JavaScript, HTML5, CSS"
		:url=`https://github.com/${username}/business-site`>
		<p>I personally created a minimal website that a business could use to provide contact information and show off their services</p>
		<p>It provides support for displaying in multiple languages.<br/>
		PHP was used for routing and translating the website's content<br/>
		An adaptive CSS stylesheet makes the website usable on both desktop and mobile devices<br/>
		Page transitions are performed through AJAX requests</p>
	</project>
</category>
<category id=other title="Other interests" icon=pencil>
	<p>In my spare time I also enjoy archery, baking, and fiddling with open-source software.</p>
	<p>My personal computers run a distribution of GNU/Linux, so I've a good understanding of how to install, use, and maintain such systems.</p>
	<p>I've completed some exercises on <a href=https://www.root-me.org/williamvds?lang=en>Root Me</a> to test my knowledge of computer security and learn more about it.</p>
</category>
<category id=volunteer title="Volunteer work" icon=charity>
	<position id=coderdojo
		title="Volunteer"
		organisation="CoderDojo"
		url="https://coderdojo.com"
		date="2018-11-11">
		<p>I worked with CoderDojo at an event that introduced young people to technology and software development.<br/>
		I supported attendees who learned about programming with Scratch and the BBC micro:bit, as well as web design using HTML &amp; CSS.</p>
	</position>
	<position id=LOSProgrammingClub
		title="Club Coordinator"
		organisation="The London Oratory School"
		url="https://www.london-oratory.org"
		start="2015-12-01"
		end="2016-06-01">
		<p>Throughout the school year, I helped run a weekly Programming Club with about 30 attendees, aged 13–17.</p>
		<p>I organised programming challenges for attendees to complete, and set up Raspberry Pis for attendees to tinker with.<br/>
		During the club, I taught the basics of programming &amp; algorithms, helping attendees with the challenges and activities.</p>

		<p><b>Communication skills:</b> Teaching attendees improved my ability to communicate clearly and concisely</p>
		<p><b>Teamwork:</b> I and the other club organisers regularly collaborated to prepare activities &amp; challenges and advertise the club</p>
		<p><b>Organisation:</b> Planning and organising activities developed my ability to manage my time, as I worked around my studies to help keep the club running</p>
	</position>
	<position id=cruk
		title="Volunteer"
		organisation="Cancer Research UK"
		url="https://www.cancerresearchuk.org"
		start="2014-01-01"
		end="2014-06-20">
		<p>I worked weekends at a local Cancer Research UK retail shop with other volunteers.
		I performed several roles, including working at the till, organising the store, and managing stock.</p>

		<p><b>Communication skills:</b> Working at the till boosted my communication and people skills while ensuring that customers had a good experience with the charity</p>
		<p><b>Teamwork & organisation:</b>Working with other volunteers strengthened my team-working, as we shared multiple roles and performed different jobs, working together to meet sales goals</p>
	</position>
</category>
<category id=references title=References icon=file-document>
	<p>Available upon request</p>
</category>
</main>
</div></body>
