:root {
	--total-width: 1000px;
	--aside-width: 25%;
	--aside-margin-horizontal: 32px;
	--aside-margin-vertical: 16px;
}

@media print {
	.no-print {
		display: none !important;
	}
}

ul {
	margin: 0;
}

h1 {
	font-size: 1.6rem;
	margin: .6rem 0 .6rem 0;
}

h2, h3 {
	font-size: 1.2rem;
	margin: 0 0 .3rem 0;
}

p {
	margin: 0 0 .3rem 0;
}

body {
	align-items: center;
	display: flex;
	flex-flow: column;
}

/* header */

header {
	text-align: center;
}

header svg {
	margin-right: 4px;
}

header a {
	margin-right: 8px;
	vertical-align: middle;
}

#sites {
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact {
	font-size: large;
}

#contact > a {
	padding-left: 3px;
}

#username, #address {
	vertical-align: middle;
	font-size: large;
}

.contact {
	display: inline-block;
}

#links {
	font-size: small;
}

/* body */

main {
	float: left;
	max-width: var(--total-width);
	margin: 8px;
}

section {
	page-break-inside: avoid;
}

@media (width < var(--total-width)) {
	main {
		float: none;
		max-width: none;
	}
}

.categoryTitle > h1:not(.icon) {
	margin-left: 16px;
}

.categoryTitle > *, .organisation {
	display: inline-block;
}

.projectTitle > * {
	display: inline;
	vertical-align: middle;
}

.position {
	margin-bottom: 16px;
}

.positionTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date {
	font-size: 1rem;
	text-align: right;
}

/* side */
#skills {
	float: right;
	width: var(--aside-width);
	margin-left: var(--aside-margin-horizontal);
	margin-bottom: var(--aside-margin-vertical);
}

@media (width < var(--total-width)) {
	#skills {
		float: none;
		width: auto;
		margin: 0;
	}

	#skillsInner {
		display: flex;
		flex-wrap: wrap;
	}

	#skills h2 {
		flex: 1 0 40%;
		padding-right: 16px;
	}
	
	#skills p {
		flex: 1 0 57%;
	}
}

#skills h2 {
	font-size: large;
}
