:root {
	--aside-width: 25%;
	--aside-margin-horizontal: 32px;
	--aside-margin-vertical: 16px;
}

@media print {
	nav {
		display: none;
	}

	header, footer, main {
		width: 100%;
	}

	h2, h3 {
		margin: 0 0 .3rem 0;
	}

	h2 {
		font-size: larger;
	}

	h3 {
		font-size: large;
	}

	p {
		margin-top: .3rem;
	}

	.no-print {
		display: none !important;
	}
}

ul {
	margin: 0;
}

/* header */

header a {
	margin-right: 8px;
	vertical-align: middle;
}

#sites {
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#contact {
	font-size: large;
}

#contact > a {
	padding-left: 3px;
}

#username, #address {
	vertical-align: middle;
	font-size: large;
}

.contact {
	display: inline-block;
}

#links {
	font-size: small;
}

/* body */

main {
	float: left;
}

section {
	page-break-inside: avoid;
}

@media (width < 1000px) {
	main {
		float: none;
	}
}

#headline {
	margin-top: 0;
}

.title:first-of-type {
	margin-top: 0;
}

.categoryTitle > h1:not(.icon) {
	margin-left: 16px;
}

.categoryTitle > *, .organisation {
	display: inline-block;
}

.projectTitle > * {
	display: inline;
	vertical-align: middle;
}

.position {
	margin-bottom: 16px;
}

.positionTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.date {
	font-size: 1rem;
	text-align: right;
}

/* side */
#skills {
	float: right;
	width: var(--aside-width);
	margin-left: var(--aside-margin-horizontal);
	margin-bottom: var(--aside-margin-vertical);
}

#skills p {
	margin-top: 0;
}

@media (width < 1000px) {
	#skills {
		float: none;
		width: auto;
		margin: 0;
	}
}

#skills h3 {
	font-size: large;
}
