a {
	color: inherit;
}

body {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	text-align: center;
}

nav {
	font-size: larger;
}

h1 {
	margin-top: 0;
}

nav, h2, .links {
	margin-top: 1rem;
}

a.highlight {
	color: #2233bb;
	padding: .3rem;
	background: #ffb52a;
	border-top: solid #996c18 .2em;
	color: #282828;
}

a.highlight svg > * {
	color: #282828;
}

.links {
	display: inline;
	font-size: larger;
}

nav a:not(:last-child), a:not(:last-child) {
	margin-right: 1rem;
}
