:root {
	--total-width: 1000px;
}

* {
	margin: 0;
	padding: 0;
}

@media screen {
	* {
		color: #eee;
	}

	html, body {
		background: #282828;
	}

	a {
		color: #ffb52a;
	}
}

body {
	min-height: 100vh;
	overflow: auto;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-flow: column;
	padding: 3em 1em;
	line-height: 1.5;
	font-family: Noto Sans, Roboto, sans-serif;
}

header, footer, main {
	width: var(--total-width);
}

@media (width < calc(1000px + 1.2rem)) {
	header, footer, main {
		width: calc(100%);
		margin: 0 auto;
	}
}

nav a:not(:last-child) {
	margin-right: .6rem;
}

nav a {
	display: inline-block;
}

h1 {
	margin-top: 2rem;
}

h2 {
	margin-top: 1.6rem;
}

h3 {
	margin-top: 1rem;
}

p, ul, ol, pre {
	margin-top: .4rem;
}

a {
	text-decoration: none;
}

ul, ol {
	padding-left: 1rem;
}

ul ul {
	margin-top: 0;
}

code, pre {
	background: #484848;
	font-family: Noto Mono, monospace;
	padding: 0 .4rem;
}

pre {
	padding: .6rem;
	border-left: .2rem solid white;
}

.iconlink svg {
	margin-right: .3rem;
}
