{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
	<meta name="description" content="{{ page.description }}">
	<link rel="stylesheet" href="{{get_url(path="blog.css")}}"/>
{% endblock head %}

{% block header %}
	{{ macros::nav(path="/" ~ page.path) }}
{% endblock header %}

{% block content %}
	<main>
		<article>
			<h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
			<span class=date>
				{{ page.date | date(format=config.extra.dateFmt) }}
			</span>
			<p class=subtitle>{{ page.description }}</p>
			{{ page.content | safe }}
		</article>
	</main>
{% endblock content %}
