{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
	<link rel="stylesheet" href="{{ get_url(path="index.css") }}"/>
{% endblock head %}

{% block content %}
	<h1>{{config.title}}</h1>
	<h2>{{config.extra.headline}}</h2>
	{{ macros::nav(path="/", class="highlight", title=false) }}
	<div class=links>
		{% for k, a in config.extra.accounts %}
			{{ macros::iconlink(
				icon  = a.icon,
				text  = a.name,
				url   = a.url ~ config.extra.username
			) }}
		{% endfor %}
		{{ macros::iconlink(
			icon  = "email",
			text  = "Email",
			url   = "mailto:" ~ config.extra.email
		) }}
	</div>
{% endblock content %}
