{% macro iconlink(icon, text, url, class="") %}
<a class="iconlink {%- if class %} {{class}}{% endif %}" href="{{url}}">
	<span class=iconify data-icon="mdi-{{icon}}"></span>{{text}}
</a>
{% endmacro iconlink %}

{% macro nav(path, class="") %}
<nav>
	<span class=navname>{{config.title}}</span>
	{%- for l in config.extra.links -%}
		{%- if l.url == path and path == "/" -%}
			{%- continue %}
		{%- endif -%}
		{{ macros::iconlink(
			icon  = l.icon,
			text  = l.name,
			url   = l.url,
			class = class
		) }}
	{%- endfor -%}
</nav>
{% endmacro nav %}
